.list {
  height: 250px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 50px;
  border: 5px solid #c7c7c7;
  background-clip: padding-box;
}
